extends layout

block customcss
    link(rel='stylesheet', href='/stylesheets/home.css')

block content
    
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
        .container-fluid
            .dropdown
                a.d-flex.align-items-center.text-white.text-decoration-none.dropdown-toggle.mx-2(href="#"  data-bs-toggle="dropdown" aria-expanded="false")
                    img(src='https://github.com/pengu07.png' alt='' width='36' height='36')
                ul.dropdown-menu.dropdown-menu-dark.text-small.shadow.mx-2
                    li
                        a.dropdown-item(href=`/user/change-password/${loggedUser.id}`) Change Password
                    li
                        hr.dropdown-divider
                    li
                        a.dropdown-item(href="/login/signout") Sign out
                        
            button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            
            .collapse.navbar-collapse(id="navbarCollapse")
                ul.navbar-nav.me-auto.mb-2.mb-md-0
                    li.nav-item
                    a.nav-link.active(aria-current="page", href="/home") Home
                    
                    li.nav-item
                    a.nav-link(href="/home/all-items") Items
    
    main.container
        if password
            .alert.alert-success
                h5.text-center Your password has been successfully changed!
        .bg-body-tertiary.p-5.rounded
            h1=title
            p.lead Welcome to the home page!
            p.lead As you are a normal user, use the button at the top to go to the items page and search for all the possible items!



