extends layout

block customcss
    link(rel='stylesheet', href='/stylesheets/home.css')

block content
    
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
        .container-fluid
            .dropdown
                a.d-flex.align-items-center.text-white.text-decoration-none.dropdown-toggle.mx-2(href="#"  data-bs-toggle="dropdown" aria-expanded="false")
                    img(src='https://github.com/pengu07.png' alt='' width='36' height='36')
                ul.dropdown-menu.dropdown-menu-dark.text-small.shadow.mx-2
                    li
                        a.dropdown-item(href=`/user/change-password/${loggedUser.id}`) Change Password
                    li
                        hr.dropdown-divider
                    li
                        a.dropdown-item(href="/signout") Sign out
                        
            button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            
            .collapse.navbar-collapse(id="navbarCollapse")
                ul.navbar-nav.me-auto.mb-2.mb-md-0
                    li.nav-item
                    a.nav-link(href="/admin") Home
                    
                    li.nav-item
                    a.nav-link(href="/admin/all-items") Items
                    
                    li.nav-item
                    a.nav-link(href="/admin/all-sources") Item Sources
                
                    li.nav-item
                    a.nav-link(href="/admin/all-users") Users
                    
                form.d-flex(role="search")
                    input.form-control.me-2(type="search" placeholder="Search" aria-label="Search")
                    button.btn.btn-outline-success(type="submitSearch") Search

    
    main.container
        .bg-body-tertiary.p-5.rounded
            h3.text-center Create a new item
            if error
                .alert.alert-danger
                    each value in error
                        p=value.msg
            form(method='POST', action='/admin/create-item', id="itemForm")
                .row.g-3

                    .col-12
                        label.form-label.form-label(for="itemName") Name
                        input.form-control(type="text", name="itemName", id="itemName", placeholder="Name of Item", required)

                    .col-12
                        label.form-label(for="rarity") Rarity
                        select.form-select(name="rarity")
                            each rarity in rarityList
                                option=rarity

                    .col-12
                        label.form-label(for="source") Item Source
                        input.form-control(type="text", name="source", id="source", placeholder="Item Source", list="sources", required, autocomplete="off")
                        datalist(id="sources")
                            select(name="source", size="5", form="itemForm")
                                each value in sourceList
                                    option=value.name
                    hr.my-4

                    .col-6
                        button.w-100.btn.btn-primary.btn-md.text-center(type="submit") Create new item
                    .col-6
                        a.w-100.btn.btn-danger.btn-md(href='/admin/all-items') Cancel



