extends layout

block customcss
    link(rel='stylesheet', href='/stylesheets/login.css')
block content
    body.text-center
        main.form-signin.w-100.m-auto
            form(method='POST', action='/login')
                img.mb-4(src='https://github.com/pengu07.png' alt='' width='72' height='72')
                h1.h3.mb-3.fw-normal Sign in!
                if signup
                    .alert.alert-success
                        p Account successfuly created!
                        p.bottomText You may now login!
                if error
                    .form-floating
                        input#floatingInput.form-control.is-invalid(type='username', placeholder='Username', name="username")
                        label(for='floatingInput') Username
                    .form-floating
                        input#floatingPassword.form-control.is-invalid(type='password', placeholder='Password', name='password')
                        label(for='floatingPassword') Password
                        .invalid-feedback
                            p=error
                else
                    .form-floating
                        input#floatingInput.form-control(type='username', placeholder='Username', name="username")
                        label(for='floatingInput') Username
                    .form-floating
                        input#floatingPassword.form-control(type='password', placeholder='Password', name='password')
                        label(for='floatingPassword') Password
                a.btn.btn-md.btn-success.mb-4(href='/login/signup') Sign up!
                button.w-100.btn.btn-lg.btn-primary(type='submit') Sign in
                p.mt-5.mb-3.text-body-secondary ITMD542 - Final Project
