extends layout

block customcss
    link(rel='stylesheet', href='/stylesheets/login.css')
block content
    body.text-center
        main.form-signin.w-100.m-auto
            form
                img.mb-4(src='https://github.com/pengu07.png' alt='' width='72' height='72')
                h1.h3.mb-3.fw-normal Sign in!
                .form-floating
                    input#floatingInput.form-control(type='username' placeholder='Username')
                    label(for='floatingInput') Username
                .form-floating
                    input#floatingPassword.form-control(type='password' placeholder='Password')
                    label(for='floatingPassword') Password
                .checkbox.mb-3
                    label
                        input(type='checkbox' value='remember-me')
                        |  Remember me
                button.w-100.btn.btn-lg.btn-primary(type='submit') Sign in
                p.mt-5.mb-3.text-body-secondary ITMD542 - Final Project
